---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" showHeader={false}>
  <div class="pt-20 text-center">
    <h1 class="text-8xl font-semibold">404</h1>
    <p>Page not found.</p>
  </div>
</BaseLayout>
