---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/Link.astro";
---

<BaseLayout>
  <p>
    I'm a developer who enjoys building things that are simple and pleasant to
    use. I also probably spend way too much time tweaking my <Link
      href="https://github.com/timschneiderxyz/dotfiles">dotfiles</Link
    > and <Link href="https://github.com/timschneiderxyz/homelab">homelab</Link>
    configuration. Other than that, I like taking photos, listening to music and
    playing video games.
  </p>
</BaseLayout>
