---
import Link from "@/components/Link.astro";
---

<footer class="max-w-2xl w-full mx-auto p-8 pt-12">
  <p class="text-gray-500 text-center">
    You can also find me on <Link
      href="https://x.com/timschneiderxyz"
      aria-label="Link to X Profile">X</Link
    > and <Link
      href="https://github.com/timschneiderxyz"
      aria-label="Link to GitHub Profile">GitHub</Link
    >.
  </p>
</footer>
