---
import Link from "@/components/Link.astro";
---

<footer class="mt-16">
  <p class="text-center">
    You can also find me on <Link
      href="https://x.com/timschneiderxyz"
      aria-label="Link to X Profile">X</Link
    > and <Link
      href="https://github.com/timschneiderxyz"
      aria-label="Link to GitHub Profile">GitHub</Link
    >.
  </p>
</footer>
